ion-card {
  width: 100%;
}

ion-item {
  & > div {
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
    width: 100%;
    margin: 10px 0px;
  }
}

app-quote-details {
  width: 100%;
}
