<div class="detail-content">
  <p>~ {{ quote.author }}, {{ quote.date.getFullYear() }}</p>
  <div>
    <ion-button fill="clear" (click)="onLike()">
      <ion-icon slot="icon-only" name="thumbs-up"></ion-icon>
    </ion-button>
    <p>{{ quote.likeCount }}</p>
    <ion-button fill="clear" (click)="onDislike()">
      <ion-icon slot="icon-only" name="thumbs-down"></ion-icon>
    </ion-button>
    <p>{{ quote.dislikeCount }}</p>
    <div class="grow"></div>
    <p>{{ getDays() }} ago</p>
    <ion-button fill="clear" color="danger" (click)="onDelete()">
      <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-button>
  </div>
</div>
