<div class="detail-content">
  <p>~ That person holding some thick purple potion, 2017</p>
  <div>
    <ion-button fill="clear">
      <ion-icon slot="icon-only" name="thumbs-up"></ion-icon>
    </ion-button>
    <p>16</p>
    <ion-button fill="clear">
      <ion-icon slot="icon-only" name="thumbs-down"></ion-icon>
    </ion-button>
    <p>16</p>
    <div class="grow"></div>
    <p>this days ago</p>
    <ion-button fill="clear" color="danger">
      <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-button>
  </div>
</div>
