/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {
  --ion-background-color: radial-gradient(circle farthest-corner at bottom left, #d9ded8 0%, #ebc0fd 100%);
}

@font-face {
  font-family: NahumGothicRegular;
  src: url('./assets/fonts/NanumGothic/NanumGothic-Regular.ttf');
}

@font-face {
  font-family: DancingScriptBold;
  src: url('./assets/fonts/DancingScript/DancingScript-Bold.ttf');
}

#content {
  font-family: NahumGothicRegular;
  & > .container {
    max-width: 1220px;
    height: 100%;
    margin: auto;
    & > .components-div {
      width: 100%;
    }
  }
}

#title {
  font-family: DancingScriptBold;
  h1 {
    font-size: 5rem;
    margin-top: 20px;
  }
}

.flex-column-justify-align-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ion-card {
  --ion-background-color:  #f2d5ff;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 8px 0px;
}

.light-gray {
  --background: #f1efef;
}

.blue-theme {
  --background: #3880ff;
}
