<form #quoteForm (onsubmit)="onSubmit()">
  <div class="wrapper">
    <div class="button">
      <input type="checkbox" id="your-id" name="button-checkbox">
      <label for="your-id" class="button-trigger">
        <i class="material-icons">add</i>
      </label>
        <div class="button-option">
        <ion-item class="light-gray">
          <ion-label>quote</ion-label>
          <ion-input
            type="text"
            required
            id="quote"
            [(ngModel)]="newQuote.quote"
            name="quote"
            #quote
          ></ion-input>
        </ion-item>
      </div>
      <div class="button-option">
        <ion-item class="light-gray">
          <ion-label>author</ion-label>
          <ion-input
            type="text"
            required
            id="author"
            [(ngModel)]="newQuote.author"
            name="author"
            #author
          ></ion-input>
        </ion-item>
      </div>
      <div class="button-option">
        <ion-item class="light-gray">
          <ion-label>day</ion-label>
          <ion-input
            type="date"
            required
            id="date"
            [(ngModel)]="newQuote.date"
            name="date"
            #date
          ></ion-input>
        </ion-item>
      </div>
      <div class="button-option">
        <ion-item
          style="text-align: center"
          class="blue-theme"
          [disabled]="newQuote.quote.trim() === '' || newQuote.author.trim() === '' || isDateValid()"
          (click)="onSubmit()"
        >
          <ion-input type="submit"></ion-input>
        </ion-item>
      </div>
    </div>
  </div>
 </form>
