<form action="">
  <div class="wrapper">
    <div class="button">
      <input type="checkbox" id="your-id" name="button-checkbox">
      <label for="your-id" class="button-trigger">
        <i class="material-icons">add</i>
      </label>
        <div class="button-option">
        <ion-item class="light-gray">
          <ion-label>quote</ion-label>
          <ion-input type="text" placeholder="Awesome Input"></ion-input>
        </ion-item>
      </div>
      <div class="button-option">
        <ion-item class="light-gray">
          <ion-label>author</ion-label>
          <ion-input type="text" placeholder="Awesome Input"></ion-input>
        </ion-item>
      </div>
      <div class="button-option">
        <ion-item class="light-gray">
          <ion-label>day</ion-label>
          <ion-input type="date"></ion-input>
        </ion-item>
      </div>
      <div class="button-option">
        <ion-item style="text-align: center" class="blue-theme" disabled>
          <ion-input type="submit"></ion-input>
        </ion-item>
      </div>
    </div>
  </div>
 </form>
